
body {
    font-family: 'Open Sans', sans-serif;
  }
  
  div#layout {
    text-align: center;
  }

  div.second_row, div.third_row
  {
    width: 100%;
  }
  
  div.first_row
  {
    width: 100%;
    height: 250px;
    background-color: #020202;
  }

 

  div.pie_text
  {
    float:left;
    width: 60%;
    height: 260px;    
    background-color: #ffffff;
  }

            div.pies_wrapper
            {
              float: left;
              width: 40%;
              height: 260px;
              background-color: #31c6e8;
            }

                  div.buttons
                  {
                    float:top;
                    width: 100%;
                    height: 60px;
                    background-color: #ffffff;
                    padding: 0 0 0 0;
                    text-align: center;
                  }

                  .button_1 
                  {
                    /* Green */                   
                    padding: 16px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 2px 2px;
                    transition-duration: 0.4s;
                    cursor: pointer;
                    background-color: #366661; 
                    color: #ffffff; 
                    border: 2px solid #ffffff;
                    border-radius: 8px;
                    width: 150px;
                  }
                  .button_1:hover {
                    background-color: #ffffff;
                    color: #000000;
                    border: 2px solid #366661;
                    border-radius: 8px;
                  }
                  div.pie1
                  {
                    float:left;
                    width: 33.3%;
                    height: 200px;
                    background-color: #ffffff;
                    text-align: center;
                    padding: 0 0 0 0;
                  }

                  div.pie2
                  {
                    float:left;
                    width: 33.3%;
                    height: 200px;
                    background-color:#ffffff;
                    padding: 0 0 0 0;
                    
                  }
                    svg#gender_pie
                    {
                      background-color:#ffffff;
                      display: block;
                      margin: auto;
                    }
                    svg#education_pie
                    {
                      background-color:#ffffff;
                      display: block;
                      margin: auto;
                    }
                    svg#income_pie
                    {
                      background-color:#ffffff;
                      display: block;
                      margin: auto;
                    }

                  div.pie3
                  {
                    float:left;
                    top: 10%;
                    width: 33.3%;
                    height: 200px;
                    background-color: #ffffff;
                    padding: 0 0 0 0;
                  }

  
  
  div.main_stats {
    float:left;
    width: 70%;
    height: 600px;
    margin: left;    
    background-color: #faf4f4;
  }

  div.text_main_stats{
    float:right;
    width: 30%;
    height: 600px;
    background-color: #f5f4f1;
  }

  div.categories_stats
  {
    float:left;
    width: 70%;
    height: 600px;
    margin: left;   
    background-color: #15d6a9;

  }
  div.categories_text{
    float:right;
    width: 30%;
    height: 600px;
    background-color: #9de1e8;
  }
    
  svg {
    width: 100%;
    height: 100%;
  }
  
  rect#bar_v {
    fill: #80cbc4;
  }

  rect#bar_d {
    fill: #366661;
  }
  
  text {
    font-size: 12px;
    fill: rgb(14, 13, 13);
  }
  
   
  line {
    stroke: gray;
  }
  
  line#limit, line#limit_2{
    stroke: #FED966;
    stroke-width: 3;
    stroke-dasharray: 3 9;
  }
  
  .grid path {
    stroke-width: 0;
  }
  
  .grid .tick line {
    stroke: #9FAAAE;
    stroke-opacity: 0.3;
  }
  
  text.divergence_v, text.divergence_d {
    font-size: 12px;
    fill: #e0255d;
    font-weight: bold;
  }

  
  text.value_v {    
    font-size: 12px;
    fill:#1b2758;
  }

  text.value_d {    
    font-size: 12px;
    fill:#e7e8ed;
  }
  
  text.title {
    font-size: 22px;
    font-weight: 600;
  }
  
  text.label {
    font-size: 14px;
    font-weight: 400;
  }
  
  text.source {
    font-size: 10px;
  }

  #pers_pie{
    border-color: #e0255d;
  }
