

  
  
 
    


           
                  div.buttons
                  {
                    float:left;
                    width: 25%;
                    height: 60px;
                    background-color: #ffffff;
                    padding: 0 0 0 0;
                  }
                  .button_1 
                  {
                    /* Green */                   
                    padding: 16px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 2px 2px;
                    transition-duration: 0.4s;
                    cursor: pointer;
                    background-color: #366661; 
                    color: #ffffff; 
                    border: 2px solid #ffffff;
                    border-radius: 8px;
                    width: 150px;
                  }
                  .button_1:hover {
                    background-color: #ffffff;
                    color: #fffefe;
                    border: 2px solid #366661;
                    border-radius: 8px;
                  }
                  div.pie1
                  {
                    float:left;
                    width: 33.3%;
                    height: 200px;
                    background-color: #ffffff;
                    text-align: center;
                    padding: 0 0 0 0;
                  }
                  

                 

  
  


    
  svg {
    width: 100%;
    height: 100%;
  }
  
  rect#bar_v {
    fill: #00bedf;
  }

  rect#bar_d {
    fill: #366661;
  }
  
  text {
    font-size: 12px;
    fill: rgb(14, 13, 13);
  }
  
   
  line {
    stroke: rgb(0, 0, 0);
  }
  
  line#limit, line#limit_2{
    stroke: #FED966;
    stroke-width: 3;
    stroke-dasharray: 3 9;
  }
  
  .grid path {
    stroke-width: 0;
  }
  
  .grid .tick line {
    stroke: #9FAAAE;
    stroke-opacity: 0.3;
  }
  
  text.divergence_v, text.divergence_d {
    font-size: 14px;
    fill: #ff9d00;
    font-weight: bold;
  }

  
  text.value_v {    
    font-size: 12px;
    fill:#1b2758;
  }

  text.value_d {    
    font-size: 12px;
    fill:#ffffff;
  }
  
  text.title {
    font-size: 22px;
    font-weight: 600;
  }
  
  text.label {
    font-size: 14px;
    font-weight: 400;
  }
  


 div.chart_1{
  float: left;
  width: 75%;
 }

 .row:after {
  content: "";
  display: table;
  clear: both;
}