
body {
    font-family: 'Open Sans', sans-serif;
  }
  
  div#layout {
    text-align: center;
  }

  div.second_row, div#third_row
  {
    width: 100%;
  }
  div#first_row
  {
    width: 100%;
    height: 250px;
    background-color: #e9f0ee;
  }
  div#pie_text
  {
    float:left;
    width: 60%;
    height: 100%;
    
    background-color: #f5eff4;
  }

  div#pie_ps
  {
    float:right;
    width: 40%;
    height: 200px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #f2f6f5;
  }
  
  div.main_stats {
    float:left;
    width: 70%;
    height: 600px;
    margin: left;    
    background-color: #faf4f4;
  }

  div.text_main_stats{
    float:right;
    width: 30%;
    height: 600px;
    background-color: #f5f4f1;
  }

  div.gender_stats 
  {
    float:left;
    width: 70%;
    height: 600px;
    margin: left;   
    background-color: #15d6a9;

  }
  div.text_gender_stats{
    float:right;
    width: 30%;
    height: 600px;
    background-color: #9de1e8;
  }
    
  svg {
    width: 100%;
    height: 100%;
  }
  
  rect#bar_v {
    fill: #80cbc4;
  }

  rect#bar_d {
    fill: #366661;
  }
  
  text {
    font-size: 12px;
    fill: rgb(14, 13, 13);
  }
  
   
  line {
    stroke: gray;
  }
  
  line#limit, line#limit_2{
    stroke: #FED966;
    stroke-width: 3;
    stroke-dasharray: 3 9;
  }
  
  .grid path {
    stroke-width: 0;
  }
  
  .grid .tick line {
    stroke: #9FAAAE;
    stroke-opacity: 0.3;
  }
  
  text.divergence_v, text.divergence_d {
    font-size: 12px;
    fill: #e0255d;
    font-weight: bold;
  }

  
  text.value_v {    
    font-size: 12px;
    fill:#1b2758;
  }

  text.value_d {    
    font-size: 12px;
    fill:#e7e8ed;
  }
  
  text.title {
    font-size: 22px;
    font-weight: 600;
  }
  
  text.label {
    font-size: 14px;
    font-weight: 400;
  }
  
  text.source {
    font-size: 10px;
  }

  #pers_pie{
    border-color: #e0255d;
  }